<app-not-logged-in-header class="w-full"></app-not-logged-in-header>

<div class="container">
  <div class="text-on-left" fxHide fxShow.gt-xs>
    <img src="assets/images/wecome-girl.png">
  </div>
  <mat-card>
    <mat-card-title>{{ 'login.title' | translate }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <p>
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   placeholder="{{ 'login.username' | translate }}"
                   formControlName="username"/>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <input
              matInput
              formControlName="password"
              placeholder="{{ 'login.password' | translate }}"
              type="password"
              [type]="shouldHidePassword ? 'password' : 'text'"/>
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="shouldHidePassword = !shouldHidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="shouldHidePassword">
              <mat-icon>{{
                shouldHidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <div class="mb-5">
          <app-error-message [errorMessage]="error"></app-error-message>
        </div>

        <p>
          <a mat-button>{{
            'login.forgot-password.link' | translate
            }}</a>
        </p>

        <button type="submit" mat-flat-button color="primary">
          {{ 'login.login-button' | translate }}
        </button>

        <div class="sign-in-options">
          <p>{{ 'login.sign-with' | translate }}</p>
        </div>

        <div class="flex justify-center items-center m-5">
          <a href="FACEBOOK_SIGN_IN_URL">
            <img src="assets/link-icons/facebook.svg" alt="Sign in with Facebook" class="facebook-icon">
          </a>
          <a href="GOOGLE_SIGN_IN_URL">
            <img src="assets/link-icons/google.svg" alt="Sign in with Google" class="google-icon">
          </a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
