:host {
  display: flex;
  flex-direction: column; /* Ensure header and content stack vertically */
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align items to the top of the page */
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}


