<ng-container *ngIf="medic">
  <div class="flex justify-between">
    <h1 class="title">
      {{ 'dashboard.hello-title' | translate }} {{medic.firstName}} {{medic.lastName}}, <br>
      {{ 'dashboard.hello-text' | translate }}
    </h1>

    <div>
      <button mat-raised-button color="primary"
              class="title-button"
              (click)="openAddPatientDialog()">
        <mat-icon class="big-mat-icon">add_circle_outline</mat-icon>
        <span>{{ 'header.add-patient' | translate }}</span>
      </button>
      <button mat-raised-button color="primary"
              class="title-button">
        <mat-icon class="big-mat-icon">add_circle_outline</mat-icon>
        <span>{{ 'dashboard.add-appointment-for-patient' | translate }}</span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <h3 class="category-title">
    {{ 'dashboard.my-patients' | translate }} ({{ allPatients.length }})
  </h3>
  <!-- TODO If no patient display no patients -->
  <div class="flex flex-wrap gap-4">
    <mat-card *ngFor="let patient of firstThreePatients" class="flex-1 p-4 min-w-[calc(25%-1rem)] max-w-[calc(25%-1rem)]">
      <div class="flex justify-end">
        <div class="flex justify-end">
          <button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deletePatient(patient.patientId)">
              <mat-icon color="warn">delete-forever</mat-icon>
              {{ 'dashboard.remove-patient' | translate }}
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="flex">
        <div>
          <img class="w-24 rounded-full" src="assets/icons/no-photo.jpg">
        </div>
        <div class="ml-5 mt-1 w-full">
          <span>{{ patient.firstName }} {{ patient.lastName }}</span>
        </div>
      </div>
      <div class="flex justify-between mt-4 mb-2 p-2 border-b-2 border-gray-200">
        <div>
          <mat-label class="text-gray-400 text-xs">{{ 'dashboard.visit-date' | translate }}</mat-label>
          <div class="text-base">19 Dec 2022</div>
        </div>
        <div>
          <mat-label class="text-gray-400 text-xs">{{ 'dashboard.visit-date' | translate }}</mat-label>
          <div class="text-base">19 Dec 2022</div>
        </div>
      </div>

      <!--TODO decide if diagnosis or obs will be displayed on patient, if yes take them from last active appointment-->
<!--      <div class="p-2">-->
<!--        <mat-label class="text-gray-400 text-xs">{{ 'dashboard.diagnosis' | translate }}</mat-label>-->
<!--        <div class="text-base">{{ patient.diagnosis }}</div>-->
<!--      </div>-->
<!--      <div class="p-2">-->
<!--        <mat-label class="text-gray-400 text-xs">{{ 'dashboard.observations' | translate }}</mat-label>-->
<!--        <div class="text-base w-full observation-text">{{ patient.observations }}</div>-->
<!--      </div>-->

      <button mat-stroked-button class="card-button mt-auto">
        <span>{{ 'dashboard.history-patient' | translate }}</span>
      </button>
    </mat-card>

    <mat-card class="flex-1 min-w-[calc(25%-1rem)] max-w-[calc(25%-1rem)] p-4">
      <div class="justify-center content-center items-center mt-12">
        <img src="assets/icons/add-patients.svg" alt="">
      </div>
      <button mat-stroked-button class="card-button mt-auto">
        <span>{{ 'dashboard.view-all-patients' | translate }}</span>
      </button>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <h3 class="category-title">
    {{ 'dashboard.my-appointments' | translate }} (3)
  </h3>
<!--  <div class="flex flex-wrap gap-4">-->
<!--    <mat-card *ngFor="let patient of firstThreePatients" class="flex-1 p-4 min-w-[calc(25%-1rem)] max-w-[calc(25%-1rem)]">-->
<!--      <div class="flex justify-end">-->
<!--        <button [matMenuTriggerFor]="menu">-->
<!--          <mat-icon>more_horiz</mat-icon>-->
<!--        </button>-->
<!--        <mat-menu #menu="matMenu">-->
<!--          <button mat-menu-item color="warn">-->
<!--            <mat-icon>delete-forever</mat-icon>-->
<!--            {{ 'dashboard.remove-patient' | translate }}-->
<!--          </button>-->
<!--        </mat-menu>-->
<!--      </div>-->
<!--      <div class="flex">-->
<!--        <div>-->
<!--          <img class="w-24 rounded-full" src="assets/icons/no-photo.jpg">-->
<!--        </div>-->
<!--        <div class="ml-5 mt-1 w-full">-->
<!--          <span>TEST goe</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="flex justify-between mt-4 mb-2 p-2 border-b-2 border-gray-200">-->
<!--        <div>-->
<!--          <mat-label class="text-gray-400 text-xs">{{ 'dashboard.visit-date' | translate }}</mat-label>-->
<!--          <div class="text-base">19 Dec 2022</div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-label class="text-gray-400 text-xs">{{ 'dashboard.visit-date' | translate }}</mat-label>-->
<!--          <div class="text-base">19 Dec 2022</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="p-2">-->
<!--        <mat-label class="text-gray-400 text-xs">{{ 'dashboard.diagnosis' | translate }}</mat-label>-->
<!--        <div class="text-base">Are ceva bai</div>-->
<!--      </div>-->
<!--      <div class="p-2">-->
<!--        <mat-label class="text-gray-400 text-xs">{{ 'dashboard.observations' | translate }}</mat-label>-->
<!--        <div class="text-base w-full">Are ceva baiAre ceva baiAre ceva baiAre ceva baiAre ceva bai</div>-->
<!--      </div>-->

<!--      <button mat-stroked-button class="card-button mt-auto">-->
<!--        <span>{{ 'dashboard.history-patient' | translate }}</span>-->
<!--      </button>-->
<!--    </mat-card>-->

<!--    <mat-card class="flex-1 min-w-[calc(25%-1rem)] max-w-[calc(25%-1rem)]">-->
<!--      Add patient-->
<!--    </mat-card>-->
<!--  </div>-->
</ng-container>
