<app-not-logged-in-header class="w-4/5"></app-not-logged-in-header>

<div class="flex justify-center items-start h-full">
  <div class="bg-white border border-gray-300 rounded-lg p-8 w-full max-w-3xl mt-32">
    <h1 class="text-center">The user has been created, to complete the registration check your email and follow the steps.</h1>

    <div class="flex justify-center">
      <button routerLink="/"
              class="bg-white hover:bg-gray-300 text-black py-2 px-4 border border-gray-200 rounded">
        Return to Home Page
      </button>
    </div>
  </div>

</div>
