<ng-container *ngIf="currentUser$ | async as user">
  <div class="flex items-center">
    <button *ngIf="user.roles.includes(Role.MEDIC); else createAppointmentTemplate" mat-button
            class="button-with-border">
      <mat-icon class="text-white">add</mat-icon>
      <span class="text-white">{{ 'header.add-patient' | translate }}</span>
    </button>
    <ng-template #createAppointmentTemplate>
      <button class="button-with-border" mat-button>
        <mat-icon class="text-white">add</mat-icon>
        <span class="text-white">{{ 'header.make-appointment' | translate }}</span>
      </button>
    </ng-template>

    <div class="flex items-center ml-5">
      <button [matMenuTriggerFor]="menu" mat-button>
        <mat-icon class="big-mat-icon text-white">account_circle</mat-icon>
        <span class="ml-2 text-white" *ngIf="currentPerson">
          {{ currentPerson.firstName }} {{ currentPerson.lastName }}
        </span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/profile'">
          <mat-icon>account_box</mat-icon>
          {{ 'header.profile' | translate }}
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          {{ 'header.logout' | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
</ng-container>
