<div class="flex justify-between items-center p-2 bg-customBG">
  <div class="flex items-center justify-start pl-40">
    <a routerLink="/" class="flex items-center justify-start">
      <img src="../../../../assets/images/logo4.svg" alt="Logo" class="h-12">
      <div class="ml-4 flex items-center -mb-4">
        <h1 class="text-white">Hospital</h1>
      </div>
    </a>
  </div>

  <div *ngIf="showCreateAccountButton" class="flex items-center pr-44">
    <div class="mr-5 text-white">Don't have an account ?</div>

    <button (click)="navigateToSignUp()" class="button-with-border" mat-button>
      <mat-icon>person_add</mat-icon>
      <span class="ml-4 text-white">Create new account</span>
    </button>
  </div>

  <div *ngIf="showSignInButton" class="flex items-center pr-44">
    <span class="mr-5 text-white">Already have an account ?</span>

    <button (click)="navigateToLogin()" class="button-with-border" mat-button>
      <mat-icon>person</mat-icon>
      <span class="ml-4 text-white">Sign in</span>
    </button>
  </div>
</div>
