.button-with-border {
  color: white;
  border: 2px solid white !important;
}

.start-content {
  padding-left: 160px;
}

.end-content {
  padding-right: 160px;
}

.mobile-start-content {
  padding-left: 50px;
}

.mobile-end-content {
  padding-right: 50px;
}
