<div class="flex justify-between items-center p-2 header">
  <div class="flex items-center justify-start pl-40">
    <a routerLink="/" class="flex items-center justify-start">
      <img src="../../../../assets/images/logo4.svg" alt="Logo" class="h-12">
      <div class="ml-4 flex items-center -mb-4">
        <h1 class="text-white">{{ 'app.title' | translate }}</h1>
      </div>
    </a>

    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkTheme ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button>

    <button [matMenuTriggerFor]="langMenu" mat-button>
      <img [src]="getFlagUrl(selectedLanguage)" alt="Selected Language" class="w-8" />
    </button>

    <mat-menu #langMenu="matMenu">
      <div class="mb-2 ml-2">
        <button (click)="switchLanguage('en')" class="flex items-center">
          <img src="assets/icons/uk-flag.svg" alt="English" class="w-8"/>
          <span class="ml-2">EN</span>
          <mat-icon *ngIf="selectedLanguage === 'en'" class="ml-2">check</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="mt-2 ml-2">
        <button (click)="switchLanguage('ro')" class="flex items-center">
          <img src="assets/icons/romania-flag.svg" alt="Română" class="w-8"/>
          <span class="ml-2">RO</span>
          <mat-icon *ngIf="selectedLanguage === 'ro'" class="ml-2">check</mat-icon>
        </button>
      </div>
    </mat-menu>
  </div>

  <div *ngIf="showCreateAccountButton" class="flex items-center pr-44">
    <div class="mr-5 text-white">{{ 'header.info.no-account' | translate }}</div>

    <button (click)="navigateToSignUp()" class="button-with-border" mat-button>
      <mat-icon class="text-white">person_add</mat-icon>
      <span class="text-white">{{ 'header.create-account' | translate }}</span>
    </button>
  </div>

  <div *ngIf="showSignInButton" class="flex items-center pr-44">
    <span class="mr-5 text-white">{{ 'header.info.have-account' | translate }}</span>

    <button (click)="navigateToLogin()" class="button-with-border" mat-button>
      <mat-icon class="text-white">person</mat-icon>
      <span class="text-white">{{ 'header.login' | translate }}</span>
    </button>
  </div>
</div>
