<app-not-logged-in-header class="w-full"></app-not-logged-in-header>

<div class="container">
  <div class="text-on-left">
    <img src="../../../assets/images/doctors.png">
  </div>
  <mat-card>
    <mat-card-title>Continue Registration</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="signUpStepTwo()">
        <p>
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   placeholder="First Name"
                   formControlName="firstName" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   placeholder="Last Name"
                   formControlName="lastName" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   placeholder="CNP"
                   formControlName="cnp" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   placeholder="Age"
                   formControlName="age" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   placeholder="Gender"
                   formControlName="gender" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   placeholder="Phone number"
                   formControlName="mobilePhone" />
          </mat-form-field>
        </p>

        <button type="submit" mat-flat-button class="bg-customBG text-white" [disabled]="form.invalid">
          Finalize Registration
        </button>

      </form>
    </mat-card-content>
  </mat-card>

</div>
