<div mat-dialog-content>
  <div class="flex justify-between">
    <div class="flex">
      <mat-icon class="info-button" color="warn">info</mat-icon>
      <div class="ml-2"><h2>{{ 'profile.change-password.attention' | translate }}</h2></div>
    </div>
    <button (click)="onCancelClick()">
      <mat-icon class="close-button">cancel</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <div class="text-lg mt-6 mb-6">
    <p>{{ 'profile.change-password.text-1' | translate }}</p>
    <p>{{ 'profile.change-password.text-2' | translate }}</p>
  </div>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPasswordForm()">
    <div class="flex justify-between p-4 mb-5 bg-gray-100 border-2 rounded-xl border-gray-300 w-full profile-input">
      <input class="bg-gray-100 w-full focus:outline-none profile-input"
             formControlName="oldPassword"
             placeholder="{{ 'profile.change-password.current-password' | translate }}"
             [type]="shouldHideOldPassword ? 'password' : 'text'"/>

      <button
        type="button"
        (click)="shouldHideOldPassword = !shouldHideOldPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="shouldHideOldPassword">
        <mat-icon>{{
          shouldHideOldPassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
      </button>
    </div>

    <div class="flex justify-between p-4 mb-5 bg-gray-100 border-2 rounded-xl border-gray-300 w-full profile-input">
      <input class="bg-gray-100 w-full focus:outline-none profile-input"
             formControlName="newPassword"
             placeholder="{{ 'profile.change-password.new-password' | translate }}"
             [type]="shouldHideNewPassword ? 'password' : 'text'"/>

      <button
        type="button"
        (click)="shouldHideNewPassword = !shouldHideNewPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="shouldHideNewPassword">
        <mat-icon>{{
          shouldHideNewPassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
      </button>
    </div>

    <mat-error *ngIf="
          changePasswordForm.controls['newPassword'].touched &&
          changePasswordForm.controls['newPassword'].invalid">
      {{
      changePasswordForm.controls['newPassword'].errors
        | formErrorTranslate
      }}
    </mat-error>

    <div class="flex justify-between p-4 mb-5 bg-gray-100 border-2 rounded-xl border-gray-300 w-full profile-input">
      <input class="bg-gray-100 w-full focus:outline-none profile-input"
             formControlName="confirmNewPassword"
             placeholder="{{ 'profile.change-password.confirm-new-password' | translate }}"
             [type]="shouldHideConfirmPassword ? 'password' : 'text'">

      <button
        type="button"
        (click)="shouldHideConfirmPassword = !shouldHideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="shouldHideConfirmPassword">
        <mat-icon>{{
          shouldHideConfirmPassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
      </button>
    </div>

    <mat-error
      *ngIf="
          changePasswordForm.controls['confirmNewPassword'].touched &&
          changePasswordForm.invalid
        "
    >{{ changePasswordForm.errors | formErrorTranslate }}</mat-error
    >

    <mat-error *ngIf="passwordErrorMessage" class="mb-2">{{
      passwordErrorMessage
      }}</mat-error>

    <div class="flex justify-end mt-8">
      <button mat-stroked-button class="mr-2"
              (click)="onCancelClick()"
              type="button">{{ 'profile.cancel-button' | translate }}</button>

      <button mat-raised-button color="primary"
              [disabled]="!this.changePasswordForm.touched || !this.changePasswordForm.valid"
              type="submit">{{ 'profile.save-button' | translate }}</button>
    </div>
  </form>
</div>


